.menu {

}
.menu a  {

    fill: blueviolet;
    width: auto;
    color: purple;
}



.material-symbols-outlined {
    width: 20px;
    height: 20px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
   
}
